{foreach $includeTemplates as $includeTemplate}
	{import $includeTemplate}
{/foreach}
{import @blocks.latte}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{include head-js}
	{include head-css}
	{include head-title}
	{include head}
</head>
<body>
	{include layout}
</body>
</html>
