body {
	background: #f2f2f2;
}
h1 {
	margin-bottom: 0.8em;
}
h1 a {
	color: black;
}
footer {
	padding: 8em 0 2em;
}
footer a {
	color: #888;
}
footer a:hover {
	color: #555;
}
details > summary:first-of-type {
	display: list-item;
}


.d-row {
	display: block;
	position: relative;
}
.d-enum-keyword, .d-operator-keywords {
	color: rebeccapurple;
}
.d-operator-inner {
	display: block;
}
.d-type-map-inner, .d-type-array-inner {
	padding-left: 1.8em;
	margin-left: 0.2em;
	display: block;
	border-left: 1px dotted #ccc;
}
.d-type-string {
	color: green;
}
.d-regexp {
	color: #06a77d;
}
.d-type-int {
	color: darkred;
}
.d-type-float {
	color: mediumvioletred;
}
.d-type-bool {
	color: darkcyan;
}
.d-type-datetime, .d-type-date {
	color: indigo;
}
.d-type-null {
	color: #9F9C7F;
}
.d-type-any {
	color: darkolivegreen;
}
.d-name {
	font-weight: bold;
}
.d-description {
	color: #666;
	margin-left: 1em;
	font-style: italic;
	font-size: 0.95em;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow: hidden;
	height: 17px;
	position: absolute;
}
.d-description p:last-child {
	margin-bottom: 0;
}
.d-row:hover > .d-description {
	background: white;
	height: auto;
	margin-left: 0.8em;
	margin-top: -0.1em;
	padding: 0.1em 0.2em;
	outline: 1px dashed #bbb;
}
.d-sample {
	display: none;
}
.d-show-samples .d-sample {
	display: inline;
}
.d-show-samples .d-sample ~ .d-types {
	display: none;
}
.d-optional, .d-inlined {
	font-style: italic;
}
.d-inline {
	font-family: 'Fira Mono', monospace;
}
.d-block {
	line-height: 1.25;
	font-family: 'Fira Mono', monospace;
}
.d-array-count, .d-number-count, .d-length {
	background: #ddd;
	border-radius: 2px;
	line-height: 1;
	padding: 0 0.3em;
}

.general-description {
	background: white;
	border: 1px solid #dedede;
	border-radius: 3px;
	padding: 0.8em 1.2em;
	margin-bottom: 0.4em;
}
.general-description p:last-child {
	margin-bottom: 0;
}

.section {
	margin-bottom: 2.4em;
}
.section > h3 {
	margin-top: 0.2em;
}
.section > h3 a {
	display: none;
}
.section > h3:hover a {
	display: inline;
	color: #666;
}
.section > h3:hover a:hover {
	color: #444;
}
.section:target  {
	background: lightgoldenrodyellow;
	border-radius: 0.4em;
	padding: 5px;
	margin-left: -0.4em;
	margin-right: -0.4em;
}

.section-panel {
	background: white;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 3em;
	padding: 0.8em 1.2em;
}

.endpoint {
	background: white;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 0.2em;
	width: 100%;
}
.endpoint:hover {
	border-color: #aaa;
}
.endpoint:hover .endpoint-anchor, .endpoint:target .endpoint-anchor {
	display: block;
}
.endpoint-anchor {
	display: none;
	position: absolute;
	right: 2em;
}
.endpoint-anchor a {
	color: #555;
	font-size: 1.1em;
	line-height: 31px;
	height: 33px;
	display: block;
}
.endpoint-anchor a:hover {
	color: #333;
}
.endpoint-body {
	border-top: 1px solid #ddd;
	width: 100% !important;
}
.endpoint-body .nav-tabs {
	padding: 0 1em;
	margin-top: 1em;
}
.endpoint-body .nav > li > a {
	padding-top: 5px;
	padding-bottom: 5px;
}
.endpoint-body .tab-pane {
	padding: 1em;
}
.endpoint-body .tab-pane > h4:first-child {
	margin-top: 0;
}
.endpoint-body > .description {
	margin-bottom: 1em;
	padding: 1em 1em 0 1em;
}
.endpoint-body .parameter-description p:last-child {
	margin-bottom: 0;
}
.endpoint-body .parameter-optional {
	padding: 0;
	width: 1px;
}
.endpoint-body .parameter-optional > span {
	padding: 5px;
	display: inline-block;
	white-space: nowrap;
}
.endpoint-body .btn-sample-toggler {
	float: right;
}
.endpoint .type {
	padding: 0.4em 0.2em;
	font-weight: bold;
	display: inline-block;
	width: 110px;
	background: #eee;
}
.endpoint-header {
	cursor: pointer;
	padding-right: 2.2em;
}
.endpoint:target .endpoint-header {
	background: lightgoldenrodyellow;
}
.endpoint-header .type {
	color: white;
}
.endpoint-header .type-post {
	background: #06a77d;
}
.endpoint-header .type-get {
	background: #006ba6;
}
.endpoint-header .type-put {
	background: #ddb204;
}
.endpoint-header .type-patch {
	background: #ddb204;
}
.endpoint-header .type-delete {
	background: #c14545;
}
.endpoint-header .title {
	font-size: 1.2em;
	line-height: 1.9;
	margin: 0 0 0 1em;
}
.endpoint-header .tags {
	line-height: 1.9;
	margin: 0 0 0 1.15em;
}
.endpoint-header .url {
	padding: 0.4em 0.5em;
}

.url {
	font-family: 'Fira Mono', monospace;
}
.url .url-var  {
	color: #006ba6;
}

code {
	padding: 1px 4px;
	color: #444;
	background-color: #ffffff;
	white-space: nowrap;
	border-radius: 0;
}

code:hover {
	background-color: #FFF5CC;
	color: #333;
}

pre > code {
	border: none;
}

.table {
	margin-bottom: 3em;
	border-bottom: 2px solid #ddd;
}

[data-toggle="collapse"] .toggle:before {
	display: inline-block;
	font-size: 16px;
	line-height: 19px;
	margin: 0 5px 0 0;
	content: "\A0\25BC";
	color: black;
}

[data-toggle="collapse"].endpoint-header .type.toggle:before {
	float: left;
}

.collapsed[data-toggle="collapse"] .toggle:before {
	content: "\A0\25BA";
}
